@model List<Article>
@{
    ViewData["Title"] = "Home";
}
@if (TempData["AddCartMessage"] != null && (bool)TempData["ShowMessage"])
{
    <div id="addCartMessage" class="alert alert-success">@TempData["AddCartMessage"]</div>
    <script>
        setTimeout(function () {
            $("#addCartMessage").fadeOut("slow");
        }, 3000);
    </script>
}
<br />
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
        <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/Home/quote3.jpg" class="d-block w-100" alt="Slide 1 " style="border-radius:15px" />
        </div>
        <div class="carousel-item">
            <img src="~/images/Home/quote2.jpg" class="d-block w-100" alt="Slide 2" style="border-radius:15px" />
        </div>
        <div class="carousel-item">
            <img src="~/images/Home/quote1.jpg" class="d-block w-100" alt="Slide 3" style="border-radius:15px" />
        </div>
    </div>
    <!-- Carousel controls -->
    <a class="carousel-control-prev" href="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>

<body>
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-9 col-sm-8 col-12 pt-3">
                <div class="mb-3">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
                <div class="card">
                    <div class="card-header">
                        Main Content Title
                    </div>
                    <div class="card-body">
                        @foreach (var Article in Model)
                        {
                            <div class="container py-2">
                                <div class="card" style="border-radius: 15px; background-color: #93e2bb;">
                                    <div class="card-body p-4 text-black">
                                        <div class="d-flex align-items-center mb-4">
                                            <div class="flex-shrink-1">
                                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-2.webp"
                                                     alt="Generic placeholder image" class="img-fluid rounded-circle border border-dark border-3"
                                                     style="width: 70px;">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h6 class="mb-4">@Article.UserName</h6>
                                            </div>
                                        </div>
                                        <hr>
                                        <div>
                                            <h3 class="mb-4">@Article.Title</h3>
                                            <h6 class="mb-4">@Article.Description</h6>
                                            <div style="text-align: center;">
                                                <img src="@Article.ImageUrl" class="img-fluid py-3" style="width:700px;height:400px;" />
                                            </div>
                                            <div class="row">
                                                <div class="col-9"></div>
                                                <div class="col-3">
                                                    <a type="button" class="btn btn-success btn-rounded" href="@Article.DocxUrl" formtarget="_blank">
                                                        <i class="fa-solid fa-cloud-arrow-down"></i>  Download
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-4 d-none d-md-block g-2">
                <div class="card gy-2">

                    <div class="card-body">
                        <p style="text-align:center">
                            Calendar
                        </p>
                        <script src="https://lichngaytot.com/Content/Js/Libs/jquery-3.4.1.min.js"></script><script src="https://lichngaytot.com/Content/Js/Libs/jquery-ui.min.js"></script><script src="https://lichngaytot.com/Content/Js/Widget/widgetlichthang.js"></script><script type="text/javascript">document.write('<div id="widgetlichthang-lvsicsoft" style="width:auto;" data-urlimage="" data-startin="1" data-amduongshow="2" data-colorbackground="#ffffff" data-colortoday="#ffff00" data-colorborder="#dddddd" data-coloram="#7f7f7f" data-colorduong="#000000"><div class="css-style-widget"></div><div class="anh-lich-img" style="100%"><img style="width: 100%; height:100%;" src="" /></div> <div id="calendar-widget-lvs" class="lvs-calendar-container" style="width: 100%; float: left;"></div>'); getWidgetLichThang("css-style-widget", "widgetlichthang-lvsicsoft")</script>
                    </div>
                </div>
            </div>
            </br>
            
           @*  @if (User.IsInRole("Student"))
            {
                <div class="card">
                    <div class="card-header">
                        Submit here
                    </div>
                    <div class="card-body">
                        <a style="text-align:center" class="align-content-center btn btn-primary" asp-controller="Article" asp-action="Create" class="btn btn-primary mt-3 mr-2">Click here</a>
                    </div>
                </div>
            } *@


        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-OgQ8P8GBtLJE//7QXqCExu5w5IJbkz7jlQlTwVIsHQ4zLJkjN9q09QY8zYvbyty" crossorigin="anonymous"></script>

</body>