@model List<Article>
<div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-sm-auto pt-3 row gx-3 row gy-3">
            <div class="mb-3">
                <form class="d-flex">
                    <h2>Your Articles</h2>
                </form>
            </div>
            <div class="mb-3">
                @foreach (var Article in Model)
                {
                    <div class="card" style="border-radius: 15px; background-color: #93e2bb;">
                        <div class="container content py-2 px-2">

                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-1">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-2.webp"
                                         alt="Generic placeholder image" class="img-fluid rounded-circle border border-dark border-3"
                                         style="width: 70px;">
                                </div>
                                <div class=" ms-4">
                                    <h4 class="mb-1" style="text-transform: lowercase capitalize">@Article.UserName</h4>
                                    <p class="card-text">Faculty:   @Article.FacultyName</p>
                                </div>
                            </div>
                            <hr />

                            <div class="row no-gutters">
                                <div class="col-sm-5">
                                    <img class="card-img" src="@Article.ImageUrl" alt="Megazine">
                                </div>
                                <div class="col-sm-7">
                                    <div class="card-body">
                                        <h5 class="card-title">Title:&nbsp @Article.Title</h5>
                                        <p class="card-text">@Article.Description</p>

                                        <div class="float-right">
                                            <a type="button" class="btn btn-success btn-rounded" href="@Article.DocxUrl" formtarget="_blank"><i class="fa-solid fa-cloud-arrow-down"></i> Download</a>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <br />
                }
            </div>


        </div>

    </div>
</div>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}