@model List<Article>
<style>
    .status-pending {
        background-color: orange;
    }

    .status-rejected {
        background-color: red;
    }

    .status-approved {
        background-color: green;
    }

    .article-status {
    }
</style>
    <div class="container h-100">
        <div class="row d-flex justify-content-left align-items-top h-100">
            <div class="col-md-9 col-sm-auto pt-3 row gx-3 row gy-3">
                <div class="mb-3">
                <h2><i class="fa-solid fa-newspaper"></i> My Contributions</h2>
                    <form class="d-flex">
                        
                        <form class="d-flex" asp-action="MyArticles" method="get">
                        <input class="form-control me-2" type="text" name="searchString" placeholder="Search Contribution" class="form-control" />
                            <button type="submit" class="btn btn-outline-success"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </form>
                    </form>
                </div>
@if (Model.Any())
            {
                <div class="mb-3">
                    @foreach (var Article in Model)
                    {
                        <div class="card" style="border-radius: 15px; background-color: #93e2bb;">
                            <div class="container content py-2 px-2">

                                <div class="article-status @GetStatusClass(Article.Status)" style="position: absolute;top: 10px;right: 10px;padding: 15px 20px;font-weight: bold;color: white;border-radius: 15px;width: auto;height: auto; line-height: normal;text-align: center;">
                                    @Article.Status.ToString() 
                                    @if(Article.Status == Article.StatusArticle.Pending)
                                    {
                                        <div class="spinner-border spinner-border-sm" role="status">
                                            <span class="visually-hidden">  Loading...</span>
                                        </div>
                                    }
                                    
                                </div>

                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-1">
                                        <img src="https://i.pinimg.com/originals/51/90/10/519010d9ee8167bfe445e616f260f758.png"
                                             alt="Generic placeholder image" class="img-fluid rounded-circle border border-dark border-3"
                                             style="width: 70px;">
                                    </div>
                                    <div class=" ms-4">
                                        <h4 class="mb-1" style="text-transform: lowercase capitalize">@Article.UserName</h4>
                                        <p class="card-text">Faculty:   @Article.FacultyName</p>
                                    </div>
                                </div>
                                <hr />

                            <div class="row no-gutters">
                                <div class="col-sm-5">
                                        <div class=" hover-zoom">
                                            <img class="card-img" src="@Article.ImageUrl" alt="@Article.Title">
                                        </div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="card-body">
                                        <h5 class="card-title">Title:&nbsp @Article.Title</h5>
                                        <p class="card-text">@Article.Description</p>
                                            <div class="float-right">
                                                <a type="button" class="btn btn-success btn-rounded mr-2" href="@Article.DocxUrl" formtarget="_blank"><i class="fa-solid fa-cloud-arrow-down"></i> Download</a>
                                                @if (Article.Status != Article.StatusArticle.Approve && Article.Status != Article.StatusArticle.Reject)
                                                {
                                                    <a type="button" class="btn btn-primary btn-rounded mr-2" asp-action="Edit" asp-route-id="@Article.Id"><i class="fa-solid fa-pencil"></i> Edit</a>
                                                    <a type="button" class="btn btn-danger btn-rounded mr-2" asp-action="Delete" asp-route-id="@Article.Id"><i class="fa-solid fa-trash"></i> Delete</a>
                                                }
                                                <a asp-action="ViewFeedBack" asp-route-id="@Article.Id" type="button" class="btn btn-secondary" style="border-radius:15px"> View Feedback</a>
                                            </div>
                                    </div>
                                </div>
                            </div>

                            </div>
                        </div>
                        <br />
                    }
                </div>
}
            else
            {
                <br />
                <br />
                <h1>
                    @if (ViewBag.Message != null)
                    {
                        <div class="alert alert-info text-center" role="alert">
                            <strong>@ViewBag.Message</strong>
                        </div>
                    }
                </h1>
            }
        </div>
        <div class="col-md-3 col-sm-4 d-none d-md-block pt-3 gy-3 gx-3">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <img src="https://preview.redd.it/rt7s8vw70zd81.gif?width=1920&auto=webp&s=a35f7a6326e9d98d711b25beed5138360b334dc0" style="width: 100%; height: auto;" />
                    </div>
                </div>
            </div>
            <br />
            <div class="card gy-2">

                <div class="card-body">
                    <p style="text-align:center; font-size:150%">
                        Calendar
                    </p>
                    <img src="https://cdn.dribbble.com/users/26232/screenshots/2833060/drib_cat2_2.gif" style="width: 100%; height: auto;" />
                    <script src="https://lichngaytot.com/Content/Js/Libs/jquery-3.4.1.min.js"></script>
                    <script src="https://lichngaytot.com/Content/Js/Libs/jquery-ui.min.js"></script>
                    <script src="https://lichngaytot.com/Content/Js/Widget/widgetlichthang.js"></script>
                    <script type="text/javascript">document.write('<div id="widgetlichthang-lvsicsoft" style="width:auto;" data-urlimage="" data-startin="1" data-amduongshow="1" data-colorbackground="#ffffff" data-colortoday="#ffff00" data-colorborder="#dddddd" data-coloram="#7f7f7f" data-colorduong="#000000"><div class="css-style-widget"></div><div class="anh-lich-img" style="100%"><img style="width: 100%; height:100%;" src="" /></div> <div id="calendar-widget-lvs" class="lvs-calendar-container" style="width: 100%; float: left;"></div>'); getWidgetLichThang("css-style-widget", "widgetlichthang-lvsicsoft")</script>
                </div>
            </div>
        </div>
    </div>
</div>


<div style="display:flex;text-align:center;justify-content:center">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @for (var i = 0; i < @ViewBag.numberOfPages; i++)
            {
                var style = (ViewBag.currentPage == @i) ? "active" : "";
                <li class="page-item @style">
                    <a class="page-link" asp-route-id="@i" asp-route-searchString="@ViewData["CurrentFilter"]">@(i + 1)</a>
                </li>
            }
        </ul>
    </nav>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }

    <script>
        function confirmEdit() {
            return confirm('Do you want to edit and re-submit this article?');
        }
    </script>
}





@functions {
    string GetStatusClass(Article.StatusArticle status)
    {
        switch (status)
        {
            case Article.StatusArticle.Pending:
                return "status-pending";
            case Article.StatusArticle.Reject:
                return "status-rejected";
            case Article.StatusArticle.Approve:
                return "status-approved";
            default:
                return "";
        }
    }
}
