@model IEnumerable<Semester>
@inject UserManager<IdentityUser> UserManager
@using Microsoft.AspNetCore.Identity

<style>
    .table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
    }

        .table th,
        .table td {
            padding: 12px;
            text-align: center;
            vertical-align: middle;
        }

        .table th {
            background-color: #93e2bb;
            color: #000;
        }

        .table tbody tr:nth-child(even) {
            background-color: #f8f9fa;
        }

        .table tbody tr:hover {
            background-color: #e2e6ea;
        }

        .table tbody td a.btn-primary {
            color: #fff;
        }

            .table tbody td a.btn-primary:hover {
                background-color: #0069d9;
            }

</style>
<div class="container mt-5">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var semester in Model)
            {
                <tr>
                    <td>@semester.Name</td>
                    <td>@semester.Status</td>
                    <td>@semester.StartDate.ToString("MM/dd/yyyy")</td>
                    <td>@semester.EndDate.ToString("MM/dd/yyyy")</td>
                    <td>
                        <a class="btn btn-primary" asp-controller="Article" asp-action="Create" asp-route-id="@UserManager.GetUserId(User)" asp-route-semesterId="@semester.Id">Submit</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
